* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}
body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  background: #242423 ;
}
img {
  max-width: 100%;
}
